[user]
	email = grzegorzklimek77@gmail.com
	name = grzegorz
[core]
	autocrlf = input
	editor = nvim
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all --abbrev-commit
  discard = checkout HEAD --
  unstage = reset --

