set relativenumber
set number
set scrolloff=999
set clipboard=unnamedplus
set incsearch
" manipulate words and parenthesis
nnoremap cw ciw
nnoremap cW ciW
nnoremap vw viw
nnoremap vW viW
nnoremap yw yiw
nnoremap yW yiW
nnoremap dw diw
nnoremap dW diW
nnoremap v" vi"
nnoremap d" di"
nnoremap c" ci"
nnoremap y" yi"
nnoremap v' vi'
nnoremap d' di'
nnoremap c' ci'
nnoremap y' yi'
nnoremap vp vip
nnoremap dp dip
nnoremap cp cip
nnoremap yp yip

"disable big S
nnoremap S <Nop>

let mapleader =" "

" easier copying to cliboard
vnoremap <C-c> "+y
vnoremap <C-v> "+p
noremap <leader>p "0p 
vnoremap <leader>p "0p 

" move lines in visual mode
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
vnoremap > >gv
vnoremap < <gv
nnoremap <leader>o o<Esc>k
nnoremap <leader>O O<Esc>j

" split navigation
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>

nnoremap 0 0^

" find references(usages)
nnoremap gr :action FindUsages<CR>
nnoremap <C-P> :action GotoFile<CR>
nnoremap <C-a>j :action ActivateTerminalToolWindow<CR>
nnoremap <C-a>h :action ActivateProjectToolWindow<CR>

" plugins
set commentary
set surround
